{% extends 'base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>...</title>
</head>

<body>

    <div class="col-md-9 ms-sm-auto col-lg-12 px-md-5 d-flex-block">
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-body border-dark text-primary mt-5">
                    <span class="text-center txt-sm">{% block card-title %}AJOUTER DE INSCRIPTIONS{% endblock card-title %}</span>
                </div><br>
                <form method="POST" autocomplete="on" enctype="multipart/form-data" class="card p-3 border-dark mt-3 mb-5 bg-white""
                    class="card p-3 border-dark mt-3 mb-5">
                    {% csrf_token %}

                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text side-label">Date</span>
                        <input type="date" name="dates" id="dates" class="form-control"  value="{{ inscrie.dates|date:'Y-m-d' }}" required>
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <label for="student" class="input-group-text side-label">Etudiants</label>
                        <select name="student" id="student" class="form-select" required>
                            {% for student in students %}
                            <option value="{{ student.id }}">{{ student.nom }} {{ student.prenom }}  - {{ student.email }}  > {{ student.formateur.names }} {{ student.formateur.last_name }} ({{ student.formateur.genr }}) </option>
                            {% endfor %}
                        </select>
                    </div>

                    

                    <div class="input-group input-group-sm mb-3">
                        <label for="formation" class="input-group-text side-label">Formation</label>
                        <select name="formation" id="formation" class="form-select" required>
                            {% for formation in formations %}
                            <option value="{{ formation.id }}">{{ formation.type }} - {{ formation.dure }} mois ({{ formation.prix }}Ariary)</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Bouton d'ajout -->
                    <div class="d-grid gap-2 mt-2">
                        <button type="submit" class="btn btn-primary btn-sm"><i
                                class="fas fa-plus"></i>&nbsp;&nbsp;Ajoute</button>
                        <a href="{% url 'liste_inscrie' %}" class="btn btn-dark btn-sm"><i
                                class="fas fa-chevron-left"></i>&nbsp;&nbsp;Retour</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>
{% endblock %}